# dependencies
/node_modules

# next
/.next/
/out/

# production
/build

# testing
/coverage
/test-results
/playwright-report

# local environment files
.env*
!.env.example

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
